
$main-color:#0E8A00;
$secondary-color:#0000009A;
$third-color:#00000062;
.mainContainer{
    max-width: 1000px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: $main-color;
}
a:hover{
    color: $main-color;
    text-decoration: none;
}
// config user interface
.w-100{
    max-width: 100%;
}
.w-85{
    max-width: 85%;
}
.w-60{
    max-width: 60%;
}
.w-50{
    max-width: 50%;
}
.w-25{
    min-width: 25%;
}
.mr-15{
    margin-right: 15px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-10{
    margin-bottom: 10px;
}
.p-30{
    padding: 30px;
}
.p-15{
    padding: 15px;
}
.m-30{
    margin: 30px;
}
// config user interface end
//nav
//nav end
// firstRow
.topDiv{
    height: 650px;
    margin-bottom: 72px;
}
.titleIntop{
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    animation-duration: 6s;
}
.bigTitleintop{
    font-size: 48px;
}
.insideTop{
    margin: 30% 0;
    animation-duration: 6s;
}
.smTitleintop{
    font-size: 24px;
    color: $secondary-color;
}
.shopBtn{
    color:$main-color;
    background-color: $main-color;
    font-size: 16px;
    color: #fff;
    border: none;
}
.topDivright{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    ul{
        li{
            color: #fff;
            margin: 30px 24px;
        }
    }
}
// fisrRow end
// secondRow threeimg
.h-250{
    height: 250px;
}
.secRowsection{
    margin-bottom: 32px;
    h2{
        font-size: 24px;
        color: #121212;
        margin-bottom: 16px;
    }
    p{
        $secondary-color:#0000009A;
        margin-bottom: 24px;
    }
    h3{
        color: $main-color;
    }
}
.mb-72{
    margin-bottom: 72px;
}
// secondRow end
// thirdRow
.thirdRow{
    // background-image: url('/img/index-5.jpg');
    background-size:cover;
    background-position: center;
    height: 400px;
    margin-bottom: 72px;
}
.leftSide{
    padding: 0;
    p{
        color: #FFFFFF;
        font-size: 35px;
        font-weight: bold;
    }
}
.rightSide{
    h2{
        color: #FFFFFF99;
    }
    h1{
        color: #FFFFFF;
        font-size: 24px;
    }
    ul{
        justify-content: space-between;
        padding: 0;
        li{
            color: $main-color;
            font-size: 14px;
        }
    }

}
// thirdRow end
// fourthRow
.fourthRowinside{
    flex-wrap: nowrap;
    overflow:scroll;
    overflow-y: hidden;
    height: 250px;
    div{    
        img{
            // width: 350px;
            // height: 350px;
        }
        h2{
            font-size: 24px;
        }
        ul{
            color: #121212;
            padding: 0;
            scroll-behavior:smooth;
            li{
                color: $third-color;
                margin-right: 8px;
                
            }
        }
    }
}
.fourthRowinside::-webkit-scrollbar {
    display: none;
  }
.onSile{
    color: #fff;
    font-size: 14px;
    margin-top: -315px;
    text-align: right;
    margin-right: 16px;
    font-weight: bold;
}
.underOnsile{
    margin-top: 295px;
}
// fourthRow end
// bottomRow
.bottomRow{
    background-size: cover;
    background-position: center;
    height: 400px;
    div{
        // padding: 0;
        // margin-top: 39px;
        // margin-bottom: 39px;
        // margin-left: 85px;
        h2{
            font-size: 48px;
            font-weight: bold;
            color: #fff;
        }
        form{
            .emailInput{
                height: 56px;
            }
            .inputBtn{
                height: 56px;
                background-color: $main-color;
                color: #fff;
            }
        }
    }
}
// bottomRow end
// footerRow
.footerRow{
    background-color: #121212;
    justify-content: space-between;
    div{
        margin: 39px 0;
        h2{
            color: #FFFFFF;
            font-size: 24px;
            font-weight: bold;
        }
        p{
            color: #ffffff99;
            font-size: 14px;
        }
        }
    }
.li{
    color: #FFFFFF99;
    font-size: 14px;
}
.li:hover{
    color: #FFFFFFDE;
}
.white{
    color: #fff;
    font-weight: bold;
}
// footerRow end
@media(max-width:375px){
    .mainContainer{
        max-width: 350px; 
        margin: 0 auto;
    }
}