
// firstRow
.topDiv{
    // height: 650px;
    margin-bottom: 72px;
    width: 100%;
}
.topDivLeft{
    height: 600px;
    max-width: 50%;   
    @media (max-width:$mobileSize) {
        max-width: 100%;
        height: 400px;
        position: relative;
    }
}
.topDivright{
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    height: 600px;
    max-width: 50%;
    min-width: 50%;
    @media (max-width:$mobileSize){
        // visibility: hidden;
        max-width: 100%;
        min-width: 95%;
        position: absolute;
        opacity: 15%;
        height: 400px;
    }
    ul{
        li{
            color: #fff;
            margin: 30px 24px;
        }
    }
}
.insideTopdiv{
    width: 50%;
    @media (max-width:$mobileSize){
        max-width: 100%;
    }
}
.titleIntop{
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 24px;
    animation-duration: 6s;
}
.bigTitleintop{
    font-size: 48px;
}
.insideTop{
    animation-duration: 6s;
}
.smTitleintop{
    font-size: 24px;
    color: $secondary-color;
}

// fisrRow end
// secondRow threeimg
.h-250{
    height: 250px;
}
.secondRow{
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    @media (max-width:$mobileSize){
        width: 100%;
        height: 150px;
        margin-bottom: 30px;
    }
}
.secFix{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
}
.fixHere{
    @media (max-width:$mobileSize) {
        order: 2;
    }
}
.secRowsection{
    margin-bottom: 32px;
    h2{
        font-size: 24px;
        color: #121212;
        margin-bottom: 16px;
    }
    p{
        $secondary-color:#0000009A;
        margin-bottom: 24px;
    }
    h3{
        color: $main-color;
    }
}
.mb-72{
    margin-bottom: 72px;
}
// secondRow end
// thirdRow
.thirdRow{
    background-size:cover;
    background-position: center;
    height: 400px;
    margin-bottom: 72px;
}
.leftSide{
    padding: 0;
    @media (max-width:$mobileSize) {
        max-width: 100%;
    }
    p{
        color: #FFFFFF;
        font-size: 35px;
        font-weight: bold;
    }
}
.rightSide{
    h2{
        color: #FFFFFF99;
    }
    h1{
        color: #FFFFFF;
        font-size: 24px;
    }
    ul{
        justify-content: space-between;
        padding: 0;
        li{
            color: $main-color;
            font-size: 14px;
        }
    }

}
.thirdTurnRwd{
    max-width: 50%;
    @media (max-width:$mobileSize) {
        width: 100%;
        p{
            font-size: 16px;
        }
    }

}
// thirdRow end
// fourthRow
.fourthRowinside{
    display: flex !important;
    // overflow:scroll;
    overflow-y: hidden;
    // height: 350px;
    .productCard{
        width: 200px;
        padding: 15px;
        margin: 15px;
        .outsideProImg{
            position: relative;
            .proImg{
                border: solid;
                border-radius: 15%;
                width: 150px;
                height: 160px;
            }
            .cate{
                color: #0E8A00;
                font-size: 14px;
                position: absolute;
                right: 15px;
                top: 10px;
                background-color: #b4d1bd62;
                border-radius: 15%;
                border: solid;
            }
        }
        h2{
            font-size: 20px;
            margin: 15px;
        }
        ul{
            color: #121212;
            padding: 0;
            scroll-behavior:smooth;
            justify-content: space-around;
            li{
                color: $third-color;
                margin-right: 8px;
                padding: 15px;
                
            }
        }
    }
    .slick-slider {
        // border-radius: 15%;
        // width: 150px;
        // height: 160px;
    }
}
.fourthRowinside::-webkit-scrollbar {
    display: none;
  }

// fourthRow end
.slideWrapper {
    position: relative;
        .slick-prev.slick-arrow {
            display: none !important;
            &.fas {
                width: 10px;
                position: absolute;
                left: 0;
                z-index: 1;
                top: 50%;
                transform: translateY(-50%);
                display: block !important;
                height: 10px;
                cursor: pointer;
            }
        }
        .slick-next.slick-arrow {
            display: none !important;
            &.fas {
                position: absolute;
                width: 10px;
                right: 0;
                z-index: 1;
                top: 50%;
                transform: translateY(-50%);
                display: block !important;
                height: 10px;
                cursor: pointer;
            }
        }
}
.slick-slide img  {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    object-fit: contain;
}

.footerRow{
    background-color: #121212;
    justify-content: space-between;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div{
        margin: 39px 0;
        h2{
            color: #FFFFFF;
            font-size: 24px;
            font-weight: bold;
        }
        p{
            color: #ffffff99;
            font-size: 14px;
        }
        }
    }
.li{
    color: #FFFFFF99;
    font-size: 14px;
}
.li:hover{
    color: #FFFFFFDE;
}
.white{
    color: #fff;
    font-weight: bold;
}
.bottomDiv{
    width: 60%;
    padding: 30px;
}
.emailInput{
    @media (max-width:$mobileSize) {
        max-width: 200px;
    }
}
.slide-img {
    width: 200px;
    height: 200px;
}

.slideWrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}
// footerRow end
@media(max-width:$mobileSize){

    .secRowRwd{
        margin-top: 100px;
    }
    // third Row 
    .thirdRowoutsideRwd{
        flex-direction: column;
        justify-content: space-around;
        margin-top: 70px;
    }
    // third Row end
    // forth Row
    .bottomDiv{
        width: 100%;
        padding: 0;
    }


    // forth Row end
}