
// product filter
.h-100{
    height: 100px;
}
.productFilter{
    background-color: #F2F2F2;
    // margin-bottom: 48px;
}
.filterList:active{
    color: $main-color;
}
.filterList:hover{
    color: $main-color;
    text-decoration: none;
    cursor: pointer;
}
.mylogoDiv{
    font-size: 24px;
}
.PDL{
    .addProduct{
        border: none;
        background-color: #F2F2F2;
        color: $main-color;
        padding: 15px;
        border-radius: 15%;
        border: solid;
        // position: absolute;
        // right: 5px;
        // top:0px
    }
    .addProduct:hover{
        background-color:$main-color;
        color:#F2F2F2;
    }
}
.active{
    color: $main-color;
}
// product filter end
// product
.productArea:hover{
    background-color:#0000009A ;
    color:#fff;
}
.productcard{
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width:$mobileSize) {
        height: 400px;
        overflow: scroll;
        margin:0 50px;
        
    }
    .productArea{
        max-width: 20%;
        padding: 15px;
        margin: 15px;
        border-radius: 5%;
        @media (max-width:$mobileSize) {
            max-width: 100%;
        }
        .cate{
            color: #0E8A00;
            font-size: 14px;
            position: absolute;
            right: 10px;
            top: 10px;
            background-color: #b4d1bd62;
            border-radius: 15%;
            border: solid;
        }
        .productImg{
            // border: solid;
            border-radius: 10%;
            width: 150px;
            height: 160px;
        }
    }
}
.cateContainer{
    position: relative;
}
// product end
// pagenumber
.pageNumber{
    color:#121212;
    font-size: 24px;

}
.pageNumber:hover{
    color: #0E8A00;
    text-decoration:underline;
}   
.pageNumber:focus{
    color: #0E8A00;
    text-decoration:underline;
}
.pageUl{
    // border: solid;
}
.img-url-input {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 20px 0;
    flex-wrap: wrap;
    .item {
        width: 45%;
        margin-bottom: 10px ;
    }
}
.image {
    height: 150px;
    object-fit: contain;
}
// pagenumber
// Modal
@media(max-width:414px){
    .underProductDetail{
        flex-direction: column;
    }
    .rightSide{
        max-width: 100%;
    }
}
.checkoutInput{
    @media(max-width:763px){
        max-width: 150px;
    }
    @media(max-width:1200px){
        max-width: 170px;
    }
    
}
.detailArea_text_center {
    text-align: center;
}

.font20{
    font: 20px;
}
.urlImgDiv{
    height: 250px;
    border: solid;
}
// Modal end

