.d-flex{
    display: flex;
}
.fd-column{
    flex-direction: column;
}
.fd-row-reverse{
    flex-direction:row-reverse
}
.flex-wrap{
    flex-wrap: wrap;
}
.jc-center{
    justify-content: center;
}
.jc-flex-start{
    justify-content: flex-start;
}
.jc-flex-end{
    justify-content: flex-end;
}
.jc-space-between{
    justify-content: space-between;
}
.jc-space-around{
    justify-content: space-around;
}
.ai-center{
    align-items: center;
}
.text-dec{
    text-decoration:line-through;
}
.bg-cover{
    background-image: cover;
}    
.bg-contain{
    background-image: contain;
}
// config user interface
.w-100{
    max-width: 100%;
}
.w-85{
    max-width: 85%;
}
.w-60{
    max-width: 60%;
}
.w-50{
    max-width: 50%;
}
.w-40{
    max-width: 40%;
}
.w-35{
    max-width: 35%;
}
.w-25{
    max-width: 25%;
}
.w-15{
    max-width: 15%;
}
.mt-30{
    margin-top: 30px;
}
.mt-15{
    margin-top: 15px;
}
.mr-15{
    margin-right: 15px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-25{
    margin-bottom: 25px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-10{
    margin-bottom: 10px;
}
.p-30{
    padding: 30px;
}
.p-15{
    padding: 15px;
}
.p-5{
    padding: 5px;
}
.m-30{
    margin: 30px;
}
.m-10{
    margin: 10px;
}
.h-200{
    height: 200px;
}

// config user interface end