.titleStyle{
    font-weight: bold;
    color:#0E8A00 ;
}
.bigBtn{
    color:$main-color;
    background-color: #fff;
    font-size: 16px;
    border: solid;
}
.bigBtn:hover{
    color: #fff;
    background-color: $main-color;
}
.fullColorBtn{
    background-color: $main-color;
    color: #fff;
    font-size: 16px;
    border: none;
}
.fullColorBtn:hover{
    background-color:#fff;
    color:  $main-color;
}
.smBtn{
    color:$main-color;
    background-color: #fff;
    font-size: 16px;
    border: solid;
    border-radius: 15%;
}
.smBtn:hover{
    color: #fff;
    background-color:$main-color ;
}
.smBtn-cancel{
    color:#0000009A;
    background-color: #fff;
    font-size: 16px;
    border: solid;
    border-radius: 15%;
}
.smBtn-cancel:hover{
    color: #fff;
    background-color:#0000009A;
}
// .inThisPage{
//     color: #000;
// }